*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #20d9d6;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d92020;
    width: 750px;
    height: 750px;
    border-radius: 20px;
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title{
    color: #DAA520;
    font-family: 'Cabin Sketch', cursive;
    font-size: 70px;    
}

.grid{
    width: 550px;
    height: 550px;
    display: grid;
    background-color: #E0E0E0;
    border-radius: 20px;

}

.selections-section{
    height: 100px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#color-size-div{
    display: flex;
    align-items: center;
}

.color-selector{
    height: 40px;
    width: 90px;
    border-radius: 7%;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
}

.text-box{
    height: 40px;
    width: 115px;
    text-align: center;
    border-radius: 7%;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    box-shadow: 1px 1px 2px black;

}

.set-size-button{
    height: 40px;
    width: 90px;
    border-radius: 7%;
    background-color:#E0E0E0 ;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;

}

.random-button, .reset-button{
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    font-size: 15px;
    color: #d92020;
    box-shadow: 1px 1px 5px black;
}